<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.dao.ApplicationFormMapper">
  <resultMap id="BaseResultMap" type="org.cityu.dataobject.ApplicationFormDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="application_form_number" jdbcType="VARCHAR" property="applicationFormNumber" />
    <result column="applicant_name" jdbcType="VARCHAR" property="applicantName" />
    <result column="applicant_id" jdbcType="VARCHAR" property="applicantId" />
    <result column="applicant_country" jdbcType="VARCHAR" property="applicantCountry" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="issue_merchant_id" jdbcType="VARCHAR" property="issueMerchantId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="customs_confirm_amount" jdbcType="DECIMAL" property="customsConfirmAmount" />
  </resultMap>
  <insert id="insert" parameterType="org.cityu.dataobject.ApplicationFormDO">
    insert into b_application_form (id, application_form_number, applicant_name, 
      applicant_id, applicant_country, issue_date, issue_merchant_id,
      total_amount, customs_confirm_amount, status)
    values (#{id,jdbcType=INTEGER}, #{applicationFormNumber,jdbcType=VARCHAR}, #{applicantName,jdbcType=VARCHAR}, 
      #{applicantId,jdbcType=VARCHAR}, #{applicantCountry,jdbcType=VARCHAR}, #{issueDate,jdbcType=TIMESTAMP},
      #{issueMerchantId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{customsConfirmAmount,jdbcType=DECIMAL}, 1)
  </insert>
  <select id="getApplicationForm" resultMap="BaseResultMap">
    select id, application_form_number, applicant_name, applicant_id, applicant_country, issue_date, total_amount, customs_confirm_amount, issue_merchant_id, status
    from b_application_form
    where application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
  </select>
  <update id="updateReviewedApplicationForm">
    update b_application_form
    set status = 2, customs_confirm_amount = #{customsConfirmAmount,jdbcType=DECIMAL}
    where application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
  </update>
  <select id="calculateCustomsConfirmAmount" resultType="java.math.BigDecimal">
    select sum(t.quantity * t.unit_price) customs_confirm_amount from
    (
      select i.unit_price, i.quantity, i.status st, b.application_form_number
      from b_invoice b, b_item i
      where b.invoice_number = i.invoice_number
    ) t
    where t.application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>