<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.dao.ApplicationFormMapper">
  <resultMap id="BaseResultMap" type="org.cityu.dataobject.ApplicationFormDO">
    <id column="application_form_number" jdbcType="VARCHAR" property="applicationFormNumber" />
    <result column="applicant_name" jdbcType="VARCHAR" property="applicantName" />
    <result column="applicant_id" jdbcType="VARCHAR" property="applicantId" />
    <result column="applicant_country" jdbcType="VARCHAR" property="applicantCountry" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="issue_merchant_name" jdbcType="VARCHAR" property="issueMerchantName" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="customs_confirm_amount" jdbcType="DECIMAL" property="customsConfirmAmount" />
  </resultMap>
  <insert id="insert" parameterType="org.cityu.dataobject.ApplicationFormDO">
    insert into b_application_form (application_form_number, applicant_name,
      applicant_id, applicant_country, issue_date, issue_merchant_name,
      total_amount, customs_confirm_amount, status)
    values (#{applicationFormNumber,jdbcType=VARCHAR}, #{applicantName,jdbcType=VARCHAR},
      #{applicantId,jdbcType=VARCHAR}, #{applicantCountry,jdbcType=VARCHAR}, #{issueDate,jdbcType=TIMESTAMP},
      #{issueMerchantName,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}, #{customsConfirmAmount,jdbcType=DECIMAL}, 1)
  </insert>
  <select id="getApplicationFormByApplicationNumber" resultMap="BaseResultMap">
    select application_form_number, applicant_name, applicant_id, applicant_country, issue_date, total_amount, customs_confirm_amount, issue_merchant_name, status
    from b_application_form
    where application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
  </select>
  <select id="getAllApplicationForms" resultMap="BaseResultMap">
    select application_form_number, applicant_name, applicant_id, applicant_country, issue_date, total_amount, customs_confirm_amount, issue_merchant_name, status
    from b_application_form
    order by issue_date desc
  </select>
  <update id="updateReviewedApplicationForm">
    update b_application_form
    set status = 2, customs_confirm_amount = #{customsConfirmAmount,jdbcType=DECIMAL}
    where application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
  </update>
  <select id="calculateCustomsConfirmAmount" resultType="java.math.BigDecimal">
    select sum(i.quantity * i.unit_price) customs_confirm_amount
    from b_invoice b left join b_item i
    on b.invoice_number = i.invoice_number
    where b.application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
    and i.status = 2
  </select>
  <select id="calculateTotalAmount">
    select sum(i.total_amount) total_amount
    from b_invoice i
    where i.invoice_number in
    <foreach collection="invoiceNumbers" item="invoiceNumber" open="(" close=")" separator=",">
      #{invoiceNumber, jdbcType=VARCHAR}
    </foreach>
  </select>
  <update id="taxRefundApplicationForm" parameterType="java.lang.String">
    update b_application_form
    set status = 3
    where application_form_number = #{applicationFormNumber,jdbcType=VARCHAR}
  </update>
</mapper>