<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.dao.InvoiceMapper">
  <resultMap id="BaseResultMap" type="org.cityu.dataobject.InvoiceDO">
    <id column="invoice_number" jdbcType="VARCHAR" property="invoiceNumber" />
    <result column="issue_merchant_name" jdbcType="VARCHAR" property="issueMerchantName" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="application_form_number" jdbcType="VARCHAR" property="applicationFormNumber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="seller_tax_id" jdbcType="VARCHAR" property="sellerTaxId" />
  </resultMap>
  <insert id="insert" parameterType="org.cityu.dataobject.InvoiceDO">
    insert into b_invoice (invoice_number, issue_merchant_name,
      total_amount, issue_date, application_form_number,
      status)
    values (#{invoiceNumber,jdbcType=VARCHAR}, #{issueMerchantName,jdbcType=VARCHAR},
      #{totalAmount,jdbcType=DECIMAL}, #{issueDate,jdbcType=TIMESTAMP}, #{applicationFormNumber,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="discardInvoice" parameterType="java.lang.String">
    update b_invoice
    set status = -1
    where invoice_number = #{invoiceNumber, jdbcType=VARCHAR}
  </update>
  <update id="updateInvoiceToRelatedApplicationForm">
    update b_invoice
    set application_form_number = #{applicationFormNumber}, status = 2
    where invoice_number in
    <foreach collection="invoiceNumbers" item="invoiceNumber" open="(" close=")" separator=",">
      #{invoiceNumber, jdbcType=VARCHAR}
    </foreach>
  </update>
  <select id="getInvoiceByApplicationFormNumber" resultMap="BaseResultMap">
    select i.invoice_number, i.issue_merchant_name, i.total_amount, i.issue_date, i.status, i.application_form_number, s.company, s.seller_tax_id
    from b_invoice i
    left join b_seller s on i.issue_merchant_name = s.merchant_name
    where application_form_number = #{applicationFormNumber, jdbcType=VARCHAR}
  </select>
  <select id="getInvoiceByInvoiceNumber" resultMap="BaseResultMap">
    select i.invoice_number, i.issue_merchant_name, i.total_amount, i.issue_date, i.status, i.application_form_number, s.company, s.seller_tax_id
    from b_invoice i
    left join b_seller s on i.issue_merchant_name = s.merchant_name
    where invoice_number = #{invoiceNumber, jdbcType=VARCHAR}
  </select>
  <select id="getInvoicesByIssueMerchantName" resultMap="BaseResultMap">
    select i.invoice_number, i.issue_merchant_name, i.total_amount, i.issue_date, i.status, i.application_form_number, s.company, s.seller_tax_id
    from b_invoice i
    left join b_seller s on i.issue_merchant_name = s.merchant_name
    where i.issue_merchant_name = #{issueMerchantName, jdbcType=VARCHAR}
    order by i.issue_date desc
  </select>
</mapper>