<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.dao.TaxRefundMapper">
  <resultMap id="BaseResultMap" type="org.cityu.dataobject.TaxRefundDO">
    <id column="application_form_number" jdbcType="VARCHAR" property="applicationFormNumber" />
    <result column="tax_refund_method" jdbcType="INTEGER" property="taxRefundMethod" />
    <result column="tax_refund_date" jdbcType="TIMESTAMP" property="taxRefundDate" />
    <result column="application_form_material" jdbcType="VARCHAR" property="applicationFormNumberMaterial" />
    <result column="invoice_material" jdbcType="VARCHAR" property="invoiceMaterial" />
  </resultMap>
  <insert id="insert" parameterType="org.cityu.dataobject.TaxRefundDO">
    insert into b_tax_refund (application_form_number, tax_refund_method,
      tax_refund_date, application_form_material, invoice_material)
    values (#{applicationFormNumber,jdbcType=VARCHAR}, #{taxRefundMethod,jdbcType=INTEGER},
      #{taxRefundDate,jdbcType=TIMESTAMP}, #{applicationFormMaterial,jdbcType=VARCHAR}, #{invoiceMaterial,jdbcType=VARCHAR})
  </insert>
</mapper>