<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="org.cityu.dataobject.UserDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="seller_tax_id" jdbcType="INTEGER" property="sellerTaxId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cityu.dataobject.UserDO">
    insert into b_user (id, name, password, 
      role, available)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{available,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.cityu.dataobject.UserDO">
    update b_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, role, available
    from b_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, role, available
    from b_user
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, password, role, available
    from b_user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select u.id, u.name, u.password, u.role, u.available, s.seller_tax_id
    from b_user u
    left join b_seller s on u.name = s.merchant_name
    where u.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>